.App {
  text-align: center;
  height: 12vh;
  justify-content: center;

&.HardLine {
   border-bottom: black 2px solid;
 }
}

.app-layout {
  display: flex;
  height: 86vh;
  flex-direction: row;

.left-nav {
  flex: 1;
}

.page-view {
  flex: 5;
  background-color: lightsteelblue;
}
}

.App-header {
  font-size: calc(10px + 2vmin);
  margin: 12px 8px 4px 0px;
}